// SNAPPER.LESS

	// WRAPPER
	
	.snap {
		position: fixed !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 5;

		&--1 { background-color: #333; }
		&--2 { background-color: #303af2; }
		&--3 { background-color: #ff22aa; }
		&--4 { background-color: #21aa3a; }
		&--5 { background-color: #3a22bc; }
	}

	// PAGINATION
	@paginationColor: #fff;
	@paginationColorActive: #333;
	@paginationBorder: 1px solid #fff;

	.snapPagination {
		position: fixed;
		z-index: 900;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);

		ul { list-style-type: none; }

		li {
			width: 14px;
			height: 14px;
			background-color: @paginationColor;
			border-radius: 50%;
			margin-top: 10px;
			margin-bottom: 10px;
			border: @paginationBorder;

			&.active {
				background-color: @paginationColorActive;
			}
		}
	}


// (other)

.navItemTest {
	background-color: #ff0000;
	width: 100px;
	height: 100px;
	position: fixed;
	z-index: 999;
	top: 20px;
	left: 20px;
}