.snap {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
}
.snap--1 {
  background-color: #333;
}
.snap--2 {
  background-color: #303af2;
}
.snap--3 {
  background-color: #ff22aa;
}
.snap--4 {
  background-color: #21aa3a;
}
.snap--5 {
  background-color: #3a22bc;
}
.snapPagination {
  position: fixed;
  z-index: 900;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.snapPagination ul {
  list-style-type: none;
}
.snapPagination li {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #fff;
}
.snapPagination li.active {
  background-color: #333;
}
.navItemTest {
  background-color: #ff0000;
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 999;
  top: 20px;
  left: 20px;
}
